{% extends 'base.html' %}

{% block body %}

<div class="container my-3">
    <h2>Add a Todo</h2>
    <form action="/submit" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" name="desc" class="form-control" id="desc" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
    <div class="container2 my-3">
        <h2>My Todo</h2>
        {% if allTodo|length == 0 %}
        <div class="alert alert-danger" role="alert">
            No Record. Add your Todo now.
        </div>
        {% else %}
        <table class="table">
            <thead id="head">
                <tr>
                    <th scope="col">Sr No.</th>
                    <th scope="col">Tile</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="results">
                {% for element in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{element.title}}</td>
                    <td>{{element.desc}}</td>
                    <td>{{element.date_created}}</td>
                    <td><a href="/delete/{{element.serial_no}}" type="button"
                            class="btn btn-outline-primary btn-sm">Delete</a>
                        <a href="/update/{{element.serial_no}}" type="button"
                            class="btn btn-outline-primary btn-sm">Update</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<script>

    document.getElementById('form').addEventListener('submit', function (event) {
        event.preventDefault();
        const search = document.getElementById('search').value;
        const formData = new URLSearchParams();
        formData.append('search', search);
        fetch('/search', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                console.log('working');
                const resultsDiv = document.querySelector('#results');
                resultsDiv.innerHTML = '';
                if (data.length === 0 && !data) {

                    resultsDiv.innerHTML = ' No Record found.'
                } else {
                    console.log('stage 2')
                    data.forEach((result, index) => {    
                        console.log(result._id.$oid)                    
                        console.log(result.date_created)
                        resultsDiv.innerHTML += `
                            <th scope="row">${index + 1}</th>
                            <td>${result.title}</td>
                            <td>${result.desc}</td>
                            <td>${result.date_created.$date}</td>
                            <td>
                                <a href="/delete/${result.serial_no}" type="button" class="btn btn-outline-primary btn-sm">Delete</a>
                                <a href="/update/${result.serial_no}" type="button" class="btn btn-outline-primary btn-sm">Update</a>
                            </td>`;
                    });

                }
            })
            .catch(error => console.error('Error:', error));
    });



</script>


{% endblock body %}